<%= form_with(model: movie, local: true) do |form| %>
  <%= form.hidden_field :user_id, value: current_user.id %>

  <% if movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
      <% movie.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field full-width">
    <%= form.label :title %>
    <%= form.text_field :title, id: :movie_title %>
  </div>

  <div class="field full-width">
    <%= form.label :description %>
    <%= form.text_area :description, id: :movie_description, cols: 60, rows: 12 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
