<% if current_user.likes_movie?(movie) %>
  <div class="col align-right">
    You like this movie
    |
    <%= link_to 'Unlike', like_path(movie.likes.find_by(user: current_user)), method: 'delete' %>
  </div>
<% elsif current_user.hates_movie?(movie) %>
  <div class="col align-right">
    You hate this movie
    |
    <%= link_to 'Unhate', hate_path(movie.hates.find_by(user: current_user)), method: 'delete' %>
  </div>
<% end %>
