<% if user_signed_in? && movie.user != current_user %>
  <% if movie.has_votes? %>
    <div class="col">
      <% if current_user.likes_movie?(movie) %>
        <%= t('likes', count: movie.likes_count) %>
      <% else %>
        <%= link_to "#{t('likes', count: movie.likes_count)}", likes_path(like: { movie_id: movie }), method: 'post' %>
      <% end %>
      |
      <% if current_user.hates_movie?(movie) %>
        <%= t('hates', count: movie.hates_count) %>
      <% else %>
        <%= link_to "#{t('hates', count: movie.hates_count)}", hates_path(hate: { movie_id: movie }), method: 'post' %>
      <% end %>
    </div>
  <% else %>
    <div>
      <span>Be the first to vote for this movie: <%= link_to 'Like', likes_path(like: { movie_id: movie }), method: 'post'%></span>
      |
      <span><%=link_to 'Hate', hates_path(hate: { movie_id: movie }), method: 'post'%></span>
    </div>
  <% end %>
<% else %>
  <%= t('likes', count: movie.likes_count) %> | <%= t('hates', count: movie.hates_count) %>
<% end %>