<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>

<div class="toolbox">
Sort by:
<% Movie::SORT_OPTIONS.each_with_index do |sort_option, index|%>
  <%= raw params[:sort] == sort_option ? sort_option.capitalize : "#{link_to sort_option.capitalize, url_for(sort: sort_option)}" %>
  <%= "|" if (index + 1) < Movie::SORT_OPTIONS.count %>
<% end %>
</div>

<div class="main inline-block">
  <% @movies.includes(:user).each do |movie| %>
    <div class="movie">
      <h2><%= movie.title%></h2>
      <p> Posted by <%= link_to get_user_nickname(movie), user_movies_path(movie.user) %> <%= time_ago_in_words(movie.created_at) %> ago</p>
      <p><%= movie.description %></p>
      <%= render partial: "votes", locals: { movie: movie } %>
      <%= render partial: "unvotes", locals: { movie: movie } if user_signed_in? %>
    </div>
  <% end %>
</div>

<div class="aside inline-block">
  <%= button_to 'New Movie', new_movie_path, method: "get", class: "button green" if user_signed_in? %>
</div>
