<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @movie.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @movie.description %>
</p>

<p>
  <strong>Publish date:</strong>
  <%= time_ago_in_words(@movie.created_at) %>
</p>

<p>
  <strong>User:</strong>
  <%= @movie.user.nickname %>
</p>

<%= link_to 'Back', movies_path %>
