// Place all the styles related to the Movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.toolbox {
  width: 90%;
  border: solid 2px #333;
  background-color: #eee;
  margin-bottom: 24px;
  padding: 10px;
}

.main {
  width: 70%;

  .movie {
    border: solid 2px #333;
    padding: 10px;
    margin-bottom: 20px;

    .col {
      display: inline-block;
      width: 48%;

      &.align-right { text-align: right; }
    }
  }
}

.aside {
  width: 19%;
  vertical-align: top;
  text-align: center;
}

.button {
  border-radius: 20px;
  border: solid 1px #000;
  padding: 10px 32px;
  cursor: pointer;

  &.green {
    color: #fff;
    background-color: #6fd86f;
    border-color: #588458;

    &:hover { background-color: #6fdf6f; }
  }
}

.field {
  &.full-width {
    input, textarea { width: 90%; }
  }
}